{% macro ImageFullWidth(credits="") %}
<figure class="image--fullwidth">
  <div class="image--fullwidth--container">
    <div class="force-ratio force-ratio-16-9">
      {% if caller %}{{ caller() }}{% endif %}
    </div>
  </div>
  {% if credits != "" %}
    <div class="container-xl">
      <figcaption>{{ credits }}</figcaption>
    </div>
  {% endif %}
</figure>
{% endmacro %}